block content
  h1= title

  ul
  each book in book_list
    li
      a(href=book.url) #{book.title}
      p (#{book.author})
      a(href=book.url)
        button(type="button" onclick=`getBook(book.id)`)  Learn More
  else
    li There are no books
