extends layout

block content
  section.show-book
    .hero
      img.book-thumbnail(src=book.image)
    .book-info
      h2 #{book.title}
      h2 #{book.author}
      if book.summary
        p= book.summary.split(" ").slice(0, 25).join(" ")

      button.delete-book(href="#", data-id=book.id) Delete Book
