extends layout

block content
  section.user-show
    div.show-book
      .hero
        - var title = book.title
        img(class="book-thumbnail" aria-label=title + " Cover" src=book.image)
      .book-info
        h2 #{book.title}
        h2 #{book.author}
        if book.summary
          p= book.summary.split(" ").slice(0, 25).join(" ")

        button.user-remove-book(href="#", data-id=book.id user-data=user.id) Delete Book
