
mixin bookCard(book = {})
  .book
    .book__hero
      h2.title
        a(href=`/books/${book.id}`) #{book.title}
        p #{book.author}
    .book__details
      img.book-thumbnail(src=book.image)
    .book__actions
      button#edit-book
        a(href=`edit-book/${book.id}`) Edit Book
